name: CI

on:
  push:
    branches:
      - master
    tags:
      - '*'
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: validformbuilder/playground
          tags: latest
          tag_with_ref: true
          path: ../../
          dockerfile: ../../Dockerfile
          add_git_labels: true
